.components-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.components-connections,
.components {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.components-connections {
  background: rgba(0, 0, 0, .05);
}

.components {
  z-index: 1; // Bring the components in front of the connection lines
}

.components-container {

  .audio-component {
    position: absolute;
    width: 20%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }

  &.connecting {

    .io {
      opacity: .15;
    }

    .io.connecting,
    .io.connectable {
      opacity: 1;
    }
  }
}

.audio-component {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
  position: relative;
  cursor: move;
}

.audio-component-headline {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.audio-component-options {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;

  .option-label {
    width: 30%;
    float: left;
  }

  li {
    padding: 1px;
  }
}

$component-io-offset: ($io-size / -2) - $io-border-width;

.component-io {
  position: absolute;
  left: $component-io-offset;
  right: $component-io-offset;
  list-style-type: none;
  list-style-image: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  > li {
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.01);
    border: $io-border-width solid rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease 0s;
    width: $io-size;
    height: $io-size;
    cursor: pointer;

    &.connecting {
      @include connectingIo();
    }

    &:hover {
      background: #1acf18;
    }
  }

  .components-available & {
    display: none;
  }
}

.component-inputs {
  top: $component-io-offset;
}

.component-outputs {
  bottom: $component-io-offset;
}
