.components-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.components-connections,
.components {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.components-connections {
  background: rgba(0, 0, 0, .05);
}

.components {
  z-index: 1; // Bring the components in front of the connection lines
}

.components-container {

  .audio-component {
    position: absolute;
    width: 20%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: #ffffff;
  }
}

.audio-component {
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 3px;
}

.audio-component-headline {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
}

.audio-component-options {
  list-style-type: none;
  list-style-image: none;
  margin: 0;
  padding: 0;

  .option-label {
    width: 30%;
    float: left;
  }

  li {
    padding: 1px;
  }
}