$bg: rgba(0, 0, 0, 0);
$column-width: 20%;

$io-size: 14px;
$io-border-width: 2px;

$non-connectable-opacity: 0.3;

@import "mixins.scss";
@import "layout.scss";
@import "components.scss";
@import "inspector.scss";
@import "styles.scss";

.inspector {
  margin-top: 10px;
}