body {
  font-family: Rajdhani;
}

h1 {
  margin-top: 0;
}

.column-content-list {
  list-style-type: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

.column-1 {
  position: relative;
}

.footer-inspector {
  position: absolute;
  bottom: 0;

  a {
    text-decoration: none;
    color: #068126;
  }
}